.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.main-nav__list li {
  width: 40px;
  height: 45px;
  margin-left: 20px;
}

.main-nav__hide-wrapper button,
.main-nav__faq-wrapper button,
.main-nav__login-wrapper button,
.main-nav__sort-wrapper button {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.main-nav__hide-wrapper svg,
.main-nav__faq-wrapper svg,
.main-nav__login-wrapper svg,
.main-nav__sort-wrapper svg {
  stroke: #000000;
}

.main-nav__hide-wrapper button:hover svg,
.main-nav__faq-wrapper button:hover svg,
.main-nav__login-wrapper button:hover svg,
.main-nav__sort-wrapper button:hover svg {
  stroke: #903535;
}


@media (max-width: $mobile-width-only) {
  .main-nav__hide-wrapper svg,
  .main-nav__faq-wrapper svg,
  .main-nav__login-wrapper svg,
  .main-nav__sort-wrapper svg {
    width: 25px;
    height: 25px;
  }
}
