.main-nav {
  display: flex;
}

.main-nav__list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.main-nav__list li {
  width: 40px;
  height: 45px;
  margin-left: 20px;
}

.main-nav__faq-wrapper a,
.main-nav__login-wrapper a {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.main-nav__faq-wrapper svg,
.main-nav__login-wrapper svg {
  stroke: #000000;
}

.main-nav__faq-wrapper a:hover svg,
.main-nav__login-wrapper a:hover svg {
  stroke: #903535;
}
