$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$tablet-width-only: 1023px;
$mobile-width-only: 767px;
$poppins: "Poppins", "Arial", sans-serif;
$main-color: #ffffff;
$hover-color: #903535;
